@model MountainBikeShop.Web.Models.ViewModels.BikeViewModel 
    <div class="detailedAdd">
        <header>
            <h1>Add Info</h1>
            <hr />
        </header>
        <section>
            <h2>Brand: @Model.Brand</h2>
            <h2>Model: @Model.Model</h2>
            <hr />
            <h3>Description:</h3>
            <h3><p>@Model.Description</p></h3>
            <h3><p>Price: @Model.Price &#36</p></h3>
            <hr />
        </section>
        <footer>
            <h3>Seller info</h3>
            <h4>Username: @Model.Username</h4>
            <h4>Email: @Model.Email</h4>
            <h4>Phone: @Model.Phone</h4>

        </footer>
    </div>

